$black:    #111;
$yellow:   #f0db44;
$width-desktop: 65em;

.content {
    margin: 0 1rem;

    app-product-list {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        
        app-gallery {
            margin: 0 auto;
        }

        .cart {
            h1 {
                margin-bottom: 0.5rem;
                font-size: 2em;
            }

            .container {
                padding: 1rem;
                background-color: $yellow;
                width: 100%;
                height: 8rem;
                border: 0.0625rem solid $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .price {
                    display:flex;

                    div {
                        margin-right: 1.875rem;

                        p:first-child {
                            font-size: 1.7em;
                            font-weight: bold;
                        }
                    }
                }

                button {
                    width: 80%;
                }
            }
        }

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                overflow: hidden;
                &.expand {
                    height: 8rem;
                }
                
                &.collapse {
                    height: 16rem;
                }
            }
        }
    }
}

.inspiration-boxes {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1rem;

    .box {
        background-image: url(../../../assets/images/paper1.jpg);
        border: 0.0625rem solid $black;
        padding: 1rem;

        p {
            font-weight: bold;
        }

        &.margin {
            margin: 1rem 0;
        }
    }
}

@media screen and (min-width: #{$width-desktop}) {
    .content {
        display: flex;
        margin: 0 4vw;
        padding-right: 0;

        app-product-list {
            display: inline-block;
        }
    
        section {
            display: inline-block;

            app-gallery {
                float: left;
            }

            .cart {
                float: right;
                width: calc(100% - 20.6875rem);
                height: 3.75rem;
                display: block;
            
                .container {
                    height: 6rem;
                    flex-direction: row;

                    button {
                        width: 6.25rem;
                    }
                }
            }

            .article {
                clear: right;
                margin-top: 9.375rem;
                display: run-in;
            }
        }
    }

    .inspiration-boxes {
        flex-direction: row;
        margin: 1rem 4vw 1rem calc(4vw + 15.9375rem);
        padding: 0;
        .box {
            width: 19.375rem;

            &.margin {
                margin: 0 1rem;
            }
        }
    }
}